/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Body: 14px

- Font weights
Default: 400
Semi-bold: 600
Bold: 700

- Line heights
Paragraph default: 1.5

- Letter spacing


--- 02 COLORS

- Primary:
#fff

Tints (lightest to darkest):


Shades (lightest to darkest:

- Accents:
1) #c4f82a
2)

- Greys
- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%)

#333
#1f1f1f
#141414


--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 12px
Small: 8px

--- 07 WHITESPACE

- Spacing system (px)
4 / 8 / 12 / 16 / 24 / 40
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --ff-primary: 'Inter', sans-serif;
  --fs-body: 14px;
  --lh-regular: 1.5;

  --color-white: #fff;
  --color-accent: #c4f82a;

  --color-grey-700: #333;
  --color-grey-800: #1f1f1f;
  --color-grey-900: #141414;

  --spacer: 24px;

  --br: 12px;
  --br-sm: 8px;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--color-white);
  line-height: var(--lh-regular);
  height: 100vh;
  background-color: var(--color-grey-900);

  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 384px;
  padding: 40px;
  background-color: var(--color-grey-800);
  border-radius: var(--br);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.social__profile-pic {
  margin: 0 auto;
  /* margin-bottom: var(--spacer); */
  width: 88px;
  border-radius: 50%;
}

.social__name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.social__location {
  color: var(--color-accent);
  font-weight: 700;
  /* margin-bottom: var(--spacer); */
}

.social__bio {
  /* margin-bottom: var(--spacer); */
}

.social__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social__item {
  /* padding: 12px; */
}

.social__link:link,
.social__link:visited {
  display: block;
  padding: 12px;
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-grey-700);
  font-weight: 700;
  border-radius: var(--br-sm);
}

@media (max-width: 383px) {
  .social {
    width: 327px;
    padding: 24px;
  }
}
